# Node modules
node_modules/

# Build output
build/

# React scripts
react-scripts/

# Debug logs
npm-debug.log
yarn-debug.log
yarn-error.log

# OS-specific files
.DS_Store
Thumbs.db

# dotenv environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE/editor specific files
.vscode/
.idea/

# Package lock files (if you are using yarn or npm, you can ignore this)
package-lock.json
yarn.lock

# npm logs
npm-debug.log*
